<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Todo List Tutorial</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <main id="app">
    <header>
      <h2>Vue.js Todo List</h2>
      <form action="">
        <p>{{currentTodo}}</p>
        <input v-model="currentTodo" type="text" placeholder="Description" maxlength="500">
        <button @click.prevent="addTodo" class="btn">+</button>
      </form>
    </header>
    <section class="mt-2">
      <ol>
        <li v-for="todo in todos" :key="todo.text" @click="toggleTodo(todo)">
          <div>
            <input type="checkbox" v-bind:checked="todo.done">
            <label>
              <del v-if="todo.done">
                {{ todo.text }}
              </del>
              <span v-else="">
                {{ todo.text }}
              </span>
            </label>
          </div>
        </li>
      </ol>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="todo.js"></script>
</body>

</html>